+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Welcome to FRP: A Fast Reverse Proxy!" height="full">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/fatedier/frp">
		GITHUB <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">frp helps you expose your service behind a firewall or NAT to the public internet.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
frp supports multiple proxy types like TCP, UDP, HTTP, HTTPS, STCP, SUDP, XTCP, TCPMUX.
{{% /blocks/lead %}}

{{< blocks/section color="white">}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download" %}}
Download from Github [Release](https://github.com/fatedier/frp/releases).
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/fatedier/frp" %}}
We do a [Issue](https://github.com/fatedier/frp/issues) and [Pull Request](https://github.com/fatedier/frp/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{< /blocks/section >}}
